section.footer-wrap
    footer
        .container
            .row
                .dandan
                    a(href="")
                        img(src="./img/logo_footer2.png", alt="")
                .footer-menu
                    ul
                        li
                            a(href="#") Home 
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Product
                        li
                            a(href="#") Partners
                        li
                            a(href="#") Clients
                        li
                            a(href="#") Catalogues
                        li
                            a(href="#") News
                        li
                            a(href="#") Contact
