header
    .container
        nav
            a.logo-home(href="")
                img(src="./img/logo.png", alt="logo")
            ul.main-menu
                li
                    a(href="#") home
                li
                    a(href="#") about
                li
                    a(href="#") product
                li
                    a(href="#") partners
                li
                    a(href="#") cliends
                li
                    a(href="#") catalogues
                li
                    a(href="#") news
                li
                    a(href="#") contact
            .searchbox
                input(type="text" placeholder="Search...")
                button
                    em.fas.fa-search
            .language
                a(href="")
                    img(src="./img/en.png", alt="")
                a(href="")
                    img(src="./img/vi.png", alt="")
            .toggle-menu
                em.fas.fa-bars
            .sidebar-menu

