section.product
    .container
        .product-title
            span products
        .product-slider
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        figure
                            img(src="./img/product-1.jpg", alt="")
                            figcaption
                                p mobile stations: cooking, warming, chilling and displaying
                    .swiper-slide
                        figure
                            img(src="./img/product-2.jpg", alt="")
                            figcaption
                                p mobile stations: cooking, warming, chilling and displaying
                    .swiper-slide 
                        figure
                            img(src="./img/product3.jpg", alt="")
                            figcaption
                                p mobile stations
                    .swiper-slide 
                        figure
                            img(src="./img/product4.jpg", alt="")
                            figcaption
                                p mobile stations
                    .swiper-slide 
                        figure
                            img(src="./img/product4.jpg", alt="")
                            figcaption
                                p mobile stations
                    .swiper-slide 
                        figure
                            img(src="./img/product4.jpg", alt="")
                            figcaption
                                p mobile stations
                    .swiper-slide 
                        figure
                            img(src="./img/product4.jpg", alt="")
                            figcaption
                                p mobile stations
            // Add Arrows
            .swiper-btn-next
                em.lnr.lnr-chevron-right
            .swiper-btn-prev
                em.lnr.lnr-chevron-left
                            