section.clients
    .clients-banner
        .clients-title
            span clients
    .container
        .clients-content
            em.fas.fa-cogs
            span clients
            p Our customers are owners of hotels, resorts, restaurants, service apartments, banquet centers, procurement advisers, professional kitchen planners, operation management teams, culinary experts and chefs, F&B service experts, purchasing managers, interior designers and engineers, purchasing officers
            p Some of our customers are listed below:
    .clients-footer
        .container
            .row
                .col-3
                    h4 HA NOI 
                    p InterContinental Landmark 72
                    p M Gallery Yen Tu
                    p JW Marriott Hanoi
                    p Lotte Hanoi
                    p Hilton Hanoi Opera Hotel
                    p M Gallery Hanoi (Hotel de L’opera)
                    p Sofitel Metropole Hanoi
                    p Pan Pacific Hanoi
                    p Daewoo Hanoi
                    p Melia Hanoi
                    p Sheraton Hanoi
                    p InterContinental Westlake
                    p Nikko Hotel Hanoi
                    h4 PHU QUOC ISLAND
                    p InterContinental Phu Quoc
                    p Radisson Blu Phu Quoc
                    p JW Marriott Phu Quoc
                    p Novotel Phu Quoc
                    p Salinda
                    p Vinpearl 5 projects
                    p Sol Beach
                    p Dusit

                    h4 HA LONG & HAI PHONG

                    p Wyndham Legend Ha Long
                    p Paradise Cruise Ship Halong
                    p Habourview Hai Phong
                    p Somerset Hai Phong
                    p Vinpearl Ha Long

                .col-3
                    h4 HO CHI MINH CITY

                    p Le Méridien Saigon
                    p Park Hyatt Saigon
                    p Sofitel Plaza Saigon
                    p InterContinental Kumho Asiana Saigon
                    p Renaissance Riverside Hotel
                    p New World Hotel (Rose wood)
                    p Caravelle Hotel
                    p Novotel Saigon
                    p Sheraton Saigon
                    p Pullman Saigon
                    p Rex Hotel
                    p Continental Saigon
                    p Moo Beefsteak
                    p Park Royal
                    p Equatorial Hotel
                    p Somerset Service Apartments
                    p Vietnam Air Caterers
                    p Nikko Saigon Hotel
                    p Somerset Vista Service Apartment Cetadine
                    p Caprice by Frasers D.7
                    p Majestic Hotel
                    p Unilever
                    p Vietjet Air
                    p Paul Cafe
                    p The Society Bar&Grill
                    p Stella Restaurant
                    p Namo Pizza
                    p Pizza 4P’s
                    p Muse Dining&Grill

                    h4 CAMBODIA

                    p Pandaw Cruise Ship
                    p Mekong Cruise Ship
                    p Sofitel Phnom Penh Phokeethra
                    p Nagaworld
                    p Aqua Expeditions Cruise Ship
                    p Sofitel Siem Riep
                    p Phum Baitang Siem Riep
                .col-3
                    h4 DA NANG & HOI AN

                    p Grand Sheraton Danang
                    p Fourpoint by Sheraton Danang
                    p Hilton Danang
                    p InterContinental Danang
                    p Four Seasons (The Nam Hai)
                    p Hyatt Regency Danang
                    p Pullman Danang
                    p Furama Danang
                    p Vinpearl Luxury Danang
                    p Vinpearl Hoi An
                    p Fusion Maya
                    p Montgomerie Links Golf Court
                    p BRG Golf Court

                    h4 PHAN THIET

                    p Victoria Phan Thiet
                    p Novotel Phan Thiet
                    p L’anmien Resort & Spa
                    p Princess D’annam
                    p Sealinks Resort & Golf Court

                    h4 QUY NHON

                    p Saigon Quy Nhon Hotel
                    p FLC  Quy Nhon

                    h4 CAN THO

                    p Victoria Can Tho
                    p Vinpearl Can Tho

                .col-3
                    h4 NHA TRANG

                    p InterContinental Nha Trang
                    p Ana Mandara Nha Trang
                    p Novotel Nha Trang
                    p Six Senses Nha Trang (Evason Hideaway)
                    p Sheraton Nha Trang Hotel & Spa
                    p Vinpearl Luxury Nha Trang
                    p Riviera Beach Resort & Spa
                    p Duyen Ha Resort Cam Ranh

                    h4 VUNG TAU & LONG HAI

                    p Sanctuary Ho Tram luxurious resident villas
                    p Grand Ho Tram Casino and Resort
                    p Pullman Vung Tau

                    h4 HUE

                    p Hue Tourism School
                    p Camelia Hue
                    p Pilgrimage Resort
                    p La Residence Resort & Spa
                    p Bestwestern (former Celadon Palace)

                    h4 THANH HOA

                    p FLC Sam Son Beach & Golf Resort

                    h4 QUANG BINH

                    p Sun Spa & Resort