section.aboutus
    .aboutus-banner
        .aboutus-title
            span ABOUT US
    .container
        .aboutus-content
            span about us
            p Being a joint venture partner of Andy Mannhart AG of Switzerland (www.andymannhart.com), we supply the fullest range of kitchen utensils, F&B related service utensils and other hotel equipment for hotels, resorts, residential villas, service apartments, cruise ships, hotel schools, restaurants, wedding centres.
            p Typical customers: Park Hyatt Saigon, JW Marriott Hanoi, Lotte Hanoi, Sheraton Saigon, Intercontinental Saigon, Novotel Phu Quoc, Hyatt Regency Danang, Hilton Hanoi, Sofitel Saigon, Le Meridien Saigon, and others.
        .logo-doitac
            img.img-fluid.responsive(src="./img/logodoitac.png", alt="logodoitac")