section.dandan-home
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="../img/slide1.jpg", alt="slide 1")
			.swiper-slide
				img(src="../img/slide4.jpg", alt="slide 2")
			.swiper-slide
				img(src="../img/slide8.jpg", alt="slide 3")
		.swiper-button
			.button-prev
				em.lnr.lnr-chevron-left
			.button-next
				em.lnr.lnr-chevron-right
