section.dandan-home
	// Swiper
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.item1
					p As the market leader in hotel equipment and utensils, <br>we are the ONE-STOP SHOP for your project
			.swiper-slide
				.item2
					p We assist owners, operation teams, F&B directors,executive chefs, housekeeping managers, procurement teams in pre-opening phases and daily operation
			.swiper-slide 
				.item3
					p In-room products, out-door furniture, pool-side furniture, linen & placemats
			.swiper-slide 
				.item4
					p Buffet equipment, mobile cooking stations, buffet décor items
			.swiper-slide 
				.item5
					p Buffet equipment, mobile cooking stations, buffet décor items

		// Add Pagination
		.swiper-pagination
		// Add Arrows
		.swiper-btn-next
			em.lnr.lnr-chevron-right
		.swiper-btn-prev
			em.lnr.lnr-chevron-left
