extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/home-slider/index
	include ../components/home/product/index
	include ../components/home/doitac/index
	include ../components/home/backtotop/backtotop