section.contact
    .head
        .container
            .contact-nav
                span Contact us
                ul.breadcumb
                    li
                        a(href="") Home
                    li
                        a(href="") contact

    .dandanmaps
        .container
            .maps
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31358.83647748902!2d106.69184644712364!3d10.745690473166631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752566c239e22f%3A0xd12c76cc941051f0!2sDan+%26+Dan+Hotel+Supplies!5e0!3m2!1sen!2s!4v1563160101405!5m2!1sen!2s', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
            .contact-detail
                .row
                    .col-lg-6.img
                        img.img-fluid(src="./img/mapdetail.jpg", alt="")
                    .col-lg-6.content
                        .info
                            em.fas.fa-envelope
                                span Dan & Dan Co., Ltd. / Andy Mannhart Vietnam
                            h4 PROFESSIONAL HOTEL & CATERING SUPPLIES
                            .ccc In Partnership with Andy Mannhart AG of Switzerland
                        .headquarter
                            h4 Headquarter:
                            p D5, STAR HILL Complex, Tan Phu Ward, Phu My Hung, District 7, HCMC, Vietnam
                            strong Tel.
                            |(+8428) 5 411 1515 
                            br
                            strong Fax:
                            |(+8428) 5 411 1556
                            br
                            strong E-mail: 
                            |hanoi@dandanhotelsupplies.com
                        .hanoioffice
                            h4 Headquarter:
                            p 02 Mac Dinh Chi Street, Truc Bach, Ba Dinh District, Hanoi, Vietnam
                            p Tel.(+8424) 3 715 4050 / 051
                            p Fax: (+8424) 3 715 4052
                            p Cell: (+84) 918 206 945
                            p E-mail: info@dandanhotelsupplies.com
                            p info@dandanhotelsupplies.com
                        .danangoffice
                            h4 Danang Office:
                            p 167 Phan Chau Trinh Street, Phuoc Ninh Ward, Hai Chau District, Danang, Vietnam
                            p Tel. 0901 865 107
                            p E-mail: danang@dandanhotelsupplies.com
                            p info@dandanhotelsupplies.com

