section.partners
    .partners-banner
        .partners-title
            span partners
    .container
        .partners-content
            em.fas.fa-users
            span partners
            p We represent the leading international manufacturers and brands who specialize in hotel equipment and utensils: (please click on the below logos to know further about our partners)
    .list-partners
        .container
            .row
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac1.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac2.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac3.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac4.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac5.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac6.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac7.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac8.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac9.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac10.png", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac11.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac12.jpg", alt="")
                .col-lg-3.col-md-4.item
                    img(src="./img/doitac1.jpg", alt="")

